h4 {
    margin-left: 20px;
}

code {
    color: brown;
    background-color: lightgray;
}

div.panel {
    background-color: #E7E9EB;
    border-radius: 5px;
    border: 3px outset #9fc93f;
}

div.w3-code.htmlHigh.notranslate,
div.w3-code.jsHigh.notranslate,
div.w3-code.cssHigh.notranslate {
    font-size: initial;
    background-color: white;
    padding: 10px;
    margin: 3px 5px 3px 5px;
    border: 1px solid gray;
    border-left: 3px solid #F76D16;
}


/* TODO - Eliminar esta sección */

table.horario {
    text-align: center;
    border-collapse: collapse;
    background-color: #0085e2;
}

table.horario th {
    align-items: center;
    color: white;
}

table.horario th,
table.horario td {
    border: 3px solid #000000;
}


/* ---------------------------- */


/* Header */

header {
    padding: 4px;
    background-color: #ff7f50;
    text-align: center;
}

div#fecha {
    font-weight: bold;
}

div#fecha li#anyo {
    letter-spacing: 0.25em;
    background-color: #fac852;
}

div#fecha li#dia {
    font-size: 2em;
    background-color: white;
}

div#fecha li#mes {
    font-size: 0.9em;
    background-color: #6699dc;
    color: white;
}


/* Nav Bars */

.navbar {
    padding: 0;
    background-color: #F8936E;
}

.sidebar {
    background-color: #90D7FF;
}

.nav-item {
    font-size: 1.2em;
    font-weight: 500;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #222;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-link:hover {
    background-color: #F7B28F;
    color: white;
}

.sidebar .nav-link:hover {
    background-color: #0072BB;
    color: white;
}


/* App Results */

#result {
    padding: 30px;
    overflow-x: scroll;
}

#result table {
    border-collapse: collapse;
}

#result tr td {
    padding: 3px;
    border: 3px solid #000000;
}


/* Footer */

.footer {
    background-color: #ff7f50;
}

.footer-btn {
    background-color: #90D7FF;
}

.footer-btn:hover {
    background-color: #0072BB;
    color: white;
}


/* Icons */

.btn-instagram {
    color: #fff;
    background-color: #bc2a8d;
    border-color: #bc2a8d;
}

.btn-instagram:hover {
    color: #fff;
    background-color: #a8267f;
    border-color: #a8267f;
}

.btn-linkedIn {
    color: #fff;
    background-color: #0e76a8;
    border-color: #0e76a8;
}

.btn-linkedIn:hover {
    color: #fff;
    background-color: #0a658f;
    border-color: #0a658f;
}

.btn-reddit {
    color: #fff;
    background-color: #FF5700;
    border-color: #FF5700;
}

.btn-reddit:hover {
    color: #fff;
    background-color: #bb4104;
    border-color: #bb4104;
}

.btn-gitHub {
    color: #fff;
    background-color: #219741;
    border-color: #219741;
}

.btn-gitHub:hover {
    color: #fff;
    background-color: #15662b;
    border-color: #15662b;
}

.btn-twitter {
    color: #fff;
    background-color: #1DA1F2;
    border-color: #1DA1F2;
}

.btn-twitter:hover {
    color: #fff;
    background-color: #1989ce;
    border-color: #1989ce;
}